@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #146dff;
  --color-primary-subtle: rgb(20 109 255 / 10%);
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
